.tooltip{
    width: 370px;
    box-shadow: 1px 1px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.788);
    display:flex;
    flex-flow: row wrap;
    padding: 5px;
    position: absolute;
    z-index: 999;
}

.right{
    float: right;
}
.row{
    width: 96%;
    padding: 0px 5px;
}
.indent{
    text-indent: 20px;
}
.row:before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(251, 255, 6, 0.295);
    border-radius: 100px;
    margin: 5px;
}
.tooltip *{
    clear: both;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    color: rgb(199, 199, 201);
    text-align: left;
}
.tooltip p{
    padding: 0;
    margin: 0;
}
.green{
    color: rgb(37, 235, 37);
    font-style: normal;
}
.tooltip img{
    padding: 5px;
    width: 40px;
    border-radius: 10px;

}

.tool_header{
    width: 320px;
}
.tool_name{
    color: rgb(126, 126, 22);
    font-size: 16pt;
    display: flex;
}
.tool_desc{
    /*border: thin red solid;*/
}
.tool_attribs{
    color: rgb(126, 126, 22);
}